---
layout: default
---
  <script>
      setInterval(function() {
          let emojis = ['🧑', '😅', '😎', '🤪', '🤔', '😂','👨‍💻','🥝'];
          document.getElementById('emoji').innerHTML = emojis[Math.floor(Math.random() * emojis.length)];
      }, 1000);
  </script>
<p class="intro">I'm a full time <mark style="font-weight: 700;">geek</mark>, i.t. professional and pc enthusiast.  <span id="emoji">😃</span><br />
  seasoned computer &amp; tech expert who is passionate about learning about technology; hardware, web development, design &amp;
  typography.</p>


<section class="posts">
<ul>
{% for post in site.posts limit:3 %}
<li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%m-%d-%Y" }}</time></li>
{% endfor %}
</ul>
</section>



<!--
{% for post in paginator.posts %}
<section>
  <h2>
    <a href='{{ site.url }}{{ post.url }}' title='{{ post.title }}'>
      {{ post.title }}
    </a>
  </h2>
  
  <p>{{ post.excerpt | strip_html | truncate: 250 }}</p>
</section>       
{% endfor %}

{% if paginator.previous_page %}
<a href='{{ site.url }}{{ paginator.previous_page_path }}'>Previous</a>
{% endif %}

&mdash; {{ paginator.page }} of {{ paginator.total_pages }} &mdash;

{% if paginator.next_page %}
<a href='{{ site.url }}{{ paginator.next_page_path }}'>Next</a>
{% endif %}

-->
